@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Oswald', sans-serif;
    background-color: #300a09;
    color: #f0e7d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/*header*/
header{
    background-color: #f0e7d5;
    color: #53161d;
    height: 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
}

h1{
    margin: 0;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
    padding:0;
    margin:0;
}

/*footer*/
footer{
    background-color: #f0e7d5;
    color: #53161d;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/*login-formulier*/

.login-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

label{
    color: #53161d;
}

.form-actions{
    color: #53161d;
}

.register-link{
    color: #53161d;
}

.form-group input{
    width: 300px;
    border-radius: 5px;
}

#remember_me{
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

/*login knop*/
#login{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 200px;
}

/*forgot password*/
.forgot-password-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.forgot-password-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.forgot-password-wrapper button{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 200px;
}

.forgot-password-wrapper p{
    color: #53161d;
}

/*register*/

.register-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.register-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 500px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.register-wrapper button{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 140px;
}

.register-wrapper a{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
}

.register-wrapper p{
    color: #f0e7d5;
}
