@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Oswald', sans-serif;
    background-color: #8A6674;
    color: #F7E6A9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/*header*/
header{
    background-color: #F7E6A9;
    color: #8A6674;
    height: 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
}

h1{
    margin: 0;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
    padding:0;
    margin:0;
}

/*footer*/
footer{
    background-color: #F7E6A9;
    color: #8A6674;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

input, textarea{
    color: #300a09;
    border-radius: 5px;
}

/*login-formulier*/

.login-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

label{
    color: #53161d;
}

.form-actions{
    color: #53161d;
}

.register-link{
    color: #53161d;
}

.form-group input{
    width: 300px;
    border-radius: 5px;
}

#remember_me{
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

/*login knop*/
#login{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 200px;
}

/*forgot password*/
.forgot-password-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.forgot-password-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.forgot-password-wrapper button{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 200px;
}

.forgot-password-wrapper p{
    color: #53161d;
}

/*register*/

.register-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.register-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0e7d5;
    width: 500px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.register-wrapper button{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 140px;
}

.register-wrapper a{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
}

.register-wrapper p{
    color: #f0e7d5;
}

/*contactpagina*/
.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact-form form div{
    display: flex;
    flex-direction: column;
}

.contact-form form div label{
    color: #f0e7d5;
    display: block;
}

.contact-form form div input, textarea{
    border-radius: 8px;
    width: 400px;
}

.contact-form form div button{
    width: fit-content;
    padding: 10px 20px;
    margin-top: 8px;
    background-color: #300a09;
    border-radius: 5px;
    color: #f0e7d5;
}

.line{
    border: #f0e7d5 solid 2px;
    height: 400px;
    border-radius: 5px;
}

/*profile*/
section{
    width: 500px;
    margin: 40px auto;
    padding: 20px;
}

.profile-info header,
.update-password header,
.delete-account header{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    width: 600px;
}

.profile-info,
.update-password,
.delete-account{
    width: 600px;
}

.profile-info button,
.update-password button{
    background-color: #300a09;
    border-radius: 5px;
    padding: 10px;
    color: #f0e7d5;
    width: 140px;
}

.info-block{
    padding: 15px;
    margin-bottom: 10px;
}

.profile-info div,
.update-password div,
.delete-account div{
    padding: 5px;
}

/*nieuws*/
.nieuws-create-form,
.nieuws-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F7E6A9;
    width: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.nieuws-create-form-wrapper,
.nieuws-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nieuws-item{
    color: #8A6674;
}

.nieuws-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.hidden{
    display: none;
}
